<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }} {{ form.username }}
    <br><br>
    {{ form.password.label_tag }} {{ form.password }}
    <br><br>
    {{ form.role.label_tag }} {{ form.role }}
    <br><br>
    <button type="submit">Login</button>
  </form>
  {% if form.errors %}
    <ul style="color:red;">
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>
